<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Mrudul | Home</title>
    <link rel="stylesheet" href="static/tufte.css" />
    <link rel="stylesheet" href="static/override.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="static/prism.css" rel="stylesheet" />
</head>

<body>

<header>
    <nav class="group">
        <ul>
            <li><a href="/about" class="{{activeHome}}">Home</a></li>
            <li><a href="/posts" class="{{activePosts}}">Posts</a></li>
        </ul>
    </nav>
</header>
<article>
    {{content}}
    <section>
        <hr>
        <p>Thanks for stopping by! Feel free to reach out.</p>
        <p class="social">
            <a href="https://github.com/yourusername"><img src="static/github.svg" alt="Github Logo"></a>
            <a href="https://linkedin.com/in/yourusername"><img src="static/linkedin.svg" alt="Linkedin Logo"></a>
            <a href="mailto:your-email@gmail.com"><img src="static/mail.svg" alt="Mail Logo" ></a>
        </p>
    </section>

</article>
<footer>
    <span class="credits">© 2025
      Mrudul Patil
    </span>
    </div>
</footer>

<script src="https://unpkg.com/prismjs@1.30.0/components/prism-core.min.js"></script>
<script src="https://unpkg.com/prismjs@1.30.0/plugins/autoloader/prism-autoloader.min.js"></script>
</body>

</html>